FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=DBNAME

JWT_SECRET_KEY=CAMBIAR-ESTA-CLAVE
JWT_ACCESS_TOKEN_EXPIRES=3600

PGADMIN_DEFAULT_EMAIL=EMAIL_ADMIN
PGADMIN_DEFAULT_PASSWORD=PASSWORD_ADMIN
